body{
    font-family: 'Arial', sans-serif;  
}

.secciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #83A06B;
    padding: 10px;
}

.clicka  {
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 1px solid #739358;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.secciones a:hover {
    background-color: #739358;
}

   
.t{
    width: 700px; /* Ajusta el ancho del contenedor izquierdo según tus necesidades */
      background-color: #f0f0f0;
      padding: 20px;
      float: right; /* Coloca el contenedor a la izquierda */
}

.cont-ph{
    width: 200px; /* Ajusta el ancho del contenedor izquierdo según tus necesidades */
    padding: 20px;
    float: left; /* Coloca el contenedor a la izquierda */
    } 

p{
    text-align: justify;
}

footer{
    background-color: #DBECED;
    width:1472px;
}

.imgab{
    width:300px;
    height:300px;
    border-radius:50%;
}

.img_10{
    background-color: #FAFAFA;

}